:root {
  --primary-background-color-white: #fff;
  --accent-color-iris: #4d5ae5;
  --primary-color-text: #2e2f42;
}
/* site portfolio */
body {
  background: var(--primary-background-color-white);
  font-family: "Roboto", sans-serif;
  color: var(--primary-color-text);
}

.btn:hover, 
.btn:focus {
  cursor: pointer;
  color:#404BBF;
}


.link:hover,
.link:focus {
 color: #4d5ae5;

}

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #2e2f42;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-web {
  color: #4d5ae5;
}

.nav-link > li {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--primary-color-text);
}

.address a {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}

.portfolio-btn li {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #4d5ae5;
}

.menu-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--primary-color-text);
  text-decoration: none;
}

.menu-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}

.logo-footer {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.03em;
  color: #f4f4fd;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #e7e9fc;
}

.footer {
  background: #2e2f42;
}

.header a {
  text-decoration: none;
}

ul > li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* webstudio  */

.title {
  background-color: var(--primary-color-text);
}

.title-phrase {
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.box-btn {
  background: #4D5AE5;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.btn-txt {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}

/* feature */

.features-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.features-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}

/* work  */

.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.work-program img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* workers  */

.workers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.workers-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.workers-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #434455;
}

.workers-list img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
